<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="robots" content="index,follow"/>
		<meta name="description" content="The design portfolio of Dan Carson."/>
		<meta name="keywords" content="Dan Carson, design, UX design, UX, UI, UI design, product designer, interactive designer, interaction designer, Obama designer, Obama for America designer, OFA designer, Obama campaign, Oakland, San Francisco, Crowdpac."/>

					
		<link rel="stylesheet" href="{{site.cdnurl}}/assets/css/style.css" type="text/css" media="screen" />
	
		<link rel="shortcut icon" href="{{site.cdnurl}}/assets/images/favicon.ico" />

		<link rel='stylesheet' id='slideshow-css' href='{{site.url}}/assets/css/flexslider.css' type='text/css' media='all' />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<script type='text/javascript' src='{{site.cdnurl}}/assets/js/jquery-2.0.3.min.js'></script>
		
		<script type='text/javascript' src='{{site.cdnurl}}/assets/js/jquery-migrate-1.2.1.min.js'></script>

		<script>

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35391644-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>